<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Quadro Kanban</title>
</head>
<body>
    <div id="app">
        <div class="column" id="todo">
            <h2>Para fazer</h2>
            <div class="task" v-for="task in tasks.todo" :key="task._id">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
            </div>
        </div>
        <div class="column" id="doing">
            <h2>Fazendo</h2>
            <div class="task" v-for="task in tasks.doing" :key="task._id">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
            </div>
        </div>
        <div class="column" id="done">
            <h2>Feito</h2>
            <div class="task" v-for="task in tasks.done" :key="task._id">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="app.js"></script>
</body>
</html>
